<ng-content></ng-content>

<table class="mock-responses">
  <thead>
    <tr class="header">
      <th class="id">ID</th>
      <th class="id-name">Name</th>
      <th class="request">Request</th>
      <th class="response">Response</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tr *ngFor="let el of mockResponses" class="mock-response">
    <td class="id">
      {{el.id}}
    </td>
    <td class="id-name">{{el.name}}</td>
    <td class="request">
      <div>Method: {{el.req_method}}</div>
      <div>Url: {{el.req_url}}</div>
      <div>Payload: {{el.req_payload}}</div>
    </td>
    <td class="response">
      <div>Status: {{el.res_status}}</div>
      <div>Delay: {{el.res_delay_sec}}</div>
      <div>Type: {{el.res_content_type}}</div>
    </td>
    <td class="actions">
      <button class="icon" (click)="playClicked.emit(el)">
        <fa-icon [icon]="faPlay"></fa-icon>
      </button>&nbsp;
      <a class="button icon" *ngIf="auth.authorized" 
        [routerLink]="['/mock-responses', el.id, 'edit']">
        <fa-icon [icon]="faEdit"></fa-icon>
      </a>
      <a class="button icon" *ngIf="!auth.authorized"
        [routerLink]="['/mock-responses', el.id, 'edit']">
        <fa-icon [icon]="faFile"></fa-icon>
      </a>
      <a class="button icon delete" *ngIf="collectionMode"
        (click)="unselectClicked.emit(el)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </a>
      <button *ngIf="dialogMode"
        (click)="selectClicked.emit(el)">
        Select
      </button>&nbsp;
    </td>
  </tr>
</table>
