.mock-responses {
  text-align: left;
  .id { width: 100px; }
  .request {
    width: 50%;
    .contents {
      display: flex; 
      width: 100%;
      max-height: 400px;
      overflow: auto;
      justify-content: space-between; 
      .req {
        width: 80%;
      }
    }
  }
  .actions {
    width: 6%;
    white-space: nowrap;
    .fas {
      padding: 2px;
    }
    .button:not(:disabled) {
      cursor: pointer;
    }
    .activate-buttons > * {
      color: #1F88E5;
      display: inline-block;
    }
    .activate-buttons > .active {
      font-size: 18px;
      opacity: .7;
		}
    .activate-buttons > .active::after {
      content: '*';
      font-size: 75%;
      position: relative;
      top: -4px;
      left: -2px;
    }
    .activate-buttons > .activate,
    .activate-buttons > .deactivate {
      font-size: 18px;
      cursor: pointer;
    }
  }
  .id-name { 
    width: 22%; 
  }
  .response { 
    width: 22%;
    white-space: nowrap;
    .icon { 
      cursor: pointer;
    }
  }
}