.mock-responses {
  text-align: left;
  .id { width: 100px; }
  .id-name { width: 25%; }
  .request {
    // width: 50%; 
    .contents {
      display: flex; 
      width: 100%;
      max-height: 400px;
      overflow: auto;
      justify-content: space-between; 
      .req {
        width: 80%;
      }
      .actions {
        min-width: 120px;
        text-align: right;
        .activate-buttons {
          display: inline-block;
          padding-right: 8px;
        }
        .activate, 
        .deactivate {
          cursor: pointer;
        }
      }
    }
  }
  .response { 
    // width: 25%;
    white-space: nowrap;
    .icon { 
      cursor: pointer;
    }
  }
  .actions {
    white-space: nowrap;
    .fa-lg {
      padding: 2px;
    }
    .button:not(:disabled) {
      cursor: pointer;
    }
  }
}