<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <%- config.headUrls.map(url => 
        url.match(/\.js$/) ? `<script src="${url}"></script>` : `<link rel="stylesheet" href="${url}">`
      ).join('\n') %>

    <style>
      body { font-family: sans-serif; margin: 0; }
      body.mce-desktop mce-router { margin-left: 320px; height: calc(100vh - 56px); overflow: auto;}
      *, *:before, *:after { box-sizing: border-box; }
      .container { padding: 12px; }
      mce-router {height: calc(100% - 112px); padding: 12px;}
      .clear-both:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
      .float-right { float: right; }
      .float-left { float: left; }
      .mce { position: absolute; bottom: 0;  width: 100% }
      mce-dialog .mce-content {white-space: pre; height: 60vh; width: 60vw; overflow: auto;}
    </style>
    <script>
      var customUrls = <%- JSON.stringify(config.customUrls) %>;

      function buildDataTable() {
        let html = `<table class="show-all">
          <tr class="header">
            <td class="active">
            <th class="name">Name
            <th class="pattern">Request
            <th class="url">Response</tr>
          <!-- custom urls -->
        </table>`;
        let rowHtml = '', group = 'group1';
        for (var pattern in customUrls) {
          group = group === 'group1' ? 'group2' : 'group1';
          customUrls[pattern].responses.forEach(resp => {
            let htmlClass = resp.url.match(/\.html$/) ? 'html':'';
            let activeClass = resp.active && !htmlClass ? 'active':'';
            let checkedAttr = (resp.active ? 'checked="checked"':'');
            rowHtml += `\n<tr class="${group} ${activeClass} ${htmlClass}" name="${pattern}">
                <td class="active">
                  <mce-radio-button name="${pattern}" value="${resp.name}" ${checkedAttr}" 
                    onclick="activate(this.inputEl.name, this.inputEl.value)"></mce-radio-button>
                <td class="name">${resp.name}
                <td class="pattern">${pattern}
                <td class="url">URL: <a href="javascript:void(0)" onclick="showJson('${resp.url}')">${resp.url}</a>
              </tr>`;
          });
        }
        html = html.replace('<!-- custom urls -->', rowHtml);
        setTimeout(_ => document.querySelector('#custom-urls-data').innerHTML = html, 300);

      }

      function activate(pattern, name) {
        fetch(`/developer/api/activate?pattern=${pattern}&name=${name}`)
          .then(resp => {
            if (!resp.ok) throw('activation error');
            return resp.json()
          }).then(json => {
            console.log(`#custom-urls-data tr[name="${pattern}"]`);
            Array.from(document.querySelectorAll(`#custom-urls-data tr[name="${pattern}"]`))
              .forEach(el => el.classList.remove('active'));
            document.querySelector(`input[name="${pattern}"][value="${name}"]`)
              .closest('tr')
              .classList.add('active');
          })
      }

      function onRouteEnd(route) {
        (route.path === 'custom-urls') && buildDataTable();
        document.querySelector('mce-app-bar').setTitle(route.name);
        setTimeout(window.ce.resizeHandler, 100);
      }

      function showJson(jsonUrl) {
        let dialog = document.querySelector('#dialog');
        fetch(jsonUrl)
          .then(resp => resp.text())
          .then(txt => dialog.open({
              title: jsonUrl,
              contents: txt
            }));
      }

      function dq(selector) {
        return document.querySelector(selector);
      }
    </script>
  </head>
  <body>
    <mce-nav-drawer>
      <h2 class="mce-top-header" style="vertical-align:middle">
        http request middleware
      </h2>
      <mce-nav-item href="#custom-urls" icon="fa-cogs">Custom Urls</mce-nav-item>
      <mce-nav-item href="#proxy-urls" icon="fa-server">Proxy Urls</mce-nav-item>
      <%- config.navigationlinks.join('\n') %>
      <mce-nav-item class="mce" href="https://mymce.github.io/" icon="fa-github">Built With MCE</mce-nav-item>
    </mce-nav-drawer>

    <mce-app-bar>
      <div class="mce-nav-icon">
        <mce-icon onclick="dq('mce-nav-drawer').open()">menu</mce-icon>
      </div>
      <h1 class="mce-title">Welcome To Solaris Development</h1>
      <div class="mce-icons">
        <mce-icon href="https://github.com/allenhwkim/http-request-middleware">fa-github</mce-icon>
      </div>
    </mce-app-bar>

    <mce-router on-route-end="onRouteEnd(route)">
      <mce-route path="custom-urls" import="developer/custom-urls.html"></mce-route>
      <mce-route path="proxy-urls" import="developer/proxy-urls.html"></mce-route>
      <mce-route path="" redirect="custom-urls"></mce-route>
    </mce-router>

    <mce-dialog id="dialog">
      <h3 class="mce-title"></h3>
      <div class="mce-content">Share This</div>
      <div class="mce-actions"></div>
    </mce-dialog>

  </body>
</html>
