<style>
.mock-responses { padding: 10px; }
.mock-responses table { margin: 10px 0; }
.mock-responses table th { background-color: #999; color: #fff; padding: 8px; }
.mock-responses table td { padding: 4px; white-space: nowrap; }
.mock-responses table tr:nth-child(odd) { background: #eee; }
a { text-decoration: none }
.mce-search {float: right;}
</style>

<script>
  function deleteMock(id) {
    window.fetch(`/developer/api/mock-responses/${id}`, {
      method: 'DELETE',
      headers: { 'Content-Type': 'application/json' }
    }).then(resp => { if (!resp.ok) throw('delete error'); })
      .then(json => window.location.hash = '#mock-responses')
      .then(json => window.location.reload())
      .catch(error => alert(error));
  }

  function playMock(method, url) {
    let dialog = document.getElementById('dialog');

    window.fetch(url, {method: method || 'GET'})
      .then(resp => { if (!resp.ok) throw('error'); return resp.text(); })
      .then(resp => {
        try {
          resp = JSON.stringify(JSON.parse(resp), null, '  ');
        } catch(e) {}
        dialog.open({
          //title: 'Custim Title', actions: {'Custom Button': () => alert('My Button is clicked.')}
          contents: resp,
        });
      })
      .catch(error => {
        console.error(error);
        alert(error)
      });
  }

  function search(key) {
    window.location.hash = `#mock-responses?q=${encodeURIComponent(key)}`;
  }

  function toggle(id) {
    window.fetch(`/developer/api/mock-responses/${id}/activate`, {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' }
    }).then(resp => { if (!resp.ok) throw('activateion error error'); })
      //.then(json => window.location.hash = '#mock-responses')
      .then(json => window.location.reload())
      .catch(error => alert(error));
  }

</script>

<div class="mock-responses">
  The following pattern-matcing requests are intercepted and served by Mock Responses.
  <div id="mock-responses-data">
    <a href="#mock-new">
      <mce-button class="mce-dark">
        <mce-icon class="fa fa-plus"></mce-icon>
        Create New Mock Response
      </mce-button>
    </a>
    <mce-search class="mce-search mce-visible" on-search="search(keyword)"></mce-search>

    <table class="data">
      <tr>
        <th>Id/Name</th>
        <th>Active</th>
        <th>URL</th>
        <th>Delay</th>
        <th>Response Type</th>
        <th>Response</th>
        <th>Actions</th>
      </tr>
    <% data.forEach(el => { %>
      <tr>
        <td><%= el.id %><br/><%= el.name %></td>
        <td>&nbsp;
          <a href="#mock-responses" onclick="toggle(<%= el.id%>)">
            <mce-switch <%= el.active ? 'checked' : '' %>></mce-switch>
          </a>
        </td>
        <td title="<%= el.req_url %>"><%= el.req_method%> 
          <%= el.req_url.length < 30 ? el.req_url : el.req_url.substr(0, 30) + ' ...' %>
        </td>
        <td><%= el.res_delay_sec ? el.res_delay_sec + 'seconds' : '' %></td>
        <td><%= el.res_body.length < 30 ? el.res_body : el.res_body.substr(0, 30) + ' ...' %></td>
        <td><%= el.res_content_type.split('/')[1] %></td>
        <td>
          <a href="#mock-responses" onclick="playMock('<%= el.req_method%>', '<%= el.req_url%>')">
           <mce-icon class="mce-small mce-circle">play_arrow</mce-icon>
          </a>
          <a href="#mock-edit-<%= el.id %>">
            <mce-icon class="mce-small mce-circle"><i class="fa fa-info"></i></mce-icon>
          </a>
          <a href="#mock-responses" onclick="deleteMock(<%= el.id %>)">
            <mce-icon class="mce-small mce-circle"><i class="fa fa-trash"></i></mce-icon>
          </a>
        </td>
      </tr>
    <% }); %>
    </table>
  </div>

  <mce-dialog id="dialog">
    <h3 class="mce-title">Default Title</h3>
    <div class="mce-content">Default contents</div>
    <div class="mce-actions"></div>
  </mce-dialog>
</div>

<!--
<mce-blocker class="loading">
  <mce-refresh-indicator class="mce-loading mce-no-border"></mce-refresh-indicator>
</mce-blocker>
-->
<!-- <mce-snackbar bottom="0">A Custom URL has been updated.</mce-snackbar> -->
