<style>
  form.proxy-response {padding: 12px;}
  form:invalid mce-button.mce-dark {background-color: inherit; color: inherit; pointer-events: none}
</style>

<script>
  function submitForm() {
    let values = {};
    Array.from(document.querySelector('#form').elements)
      .filter(el => el.name)
      .forEach(el => values[el.name] = el.value);
    values.active = document.querySelector('#form #active').checked ? 1 : 0;

    console.log('put values', values);
    window.fetch(`/developer/api/proxy-responses/${values.id}`, {
      method: 'PUT',
      body: JSON.stringify(values),
      headers: { 'Content-Type': 'application/json' }
    }).then(resp => { if (!resp.ok) throw('activation error'); })
      .then(json => window.location.hash = '#proxy-responses')
      .catch(error => alert(error));
  }
</script>

<form id="form" class="proxy-response" novalidate onsubmit="return false">
  <input type="hidden" name="id" value="<%=data.id%>" />
  <mce-checkbox id="active" name="active" 
    <%= data.active ? "checked=\"checked\"" : "" %>>
  </mce-checkbox>
  <label for="active">Active</label>

  <br/>
  <mce-text-field id="context" name="context" required
    value="<%= data.context %>"
    multi-line
    label="Proxy Context"
    pattern-error="Must be an JSON array"
    pattern="^\[.*\]$">
  </mce-text-field>
  <br/>

  <mce-text-field id="options" name="options" required
    multi-line
    value="<%= data.options %>"
    style="min-width: 600px"
    label="Proxy Options"
    helper-text="Proxy Server Options"
    pattern-error="Proxy options must be a JSON object"
    pattern="^\{.*\}$">
  </mce-text-field>
  <br/>
  <mce-button 
    onclick="submitForm()"
    class="mce-raised mce-dark">
    <span>Submit</span>
  </mce-button>

</form>