The following pattern-matcing requests are intercepted and served by Mock Responses.
<style>
.proxy-responses { padding: 10px; }
.proxy-responses table { margin: 10px 0; }
.proxy-responses table th { background-color: #999; color: #fff; padding: 8px; }
.proxy-responses table td { padding: 4px; }
.proxy-responses table tr:nth-child(odd) { background: #eee; }
a { text-decoration: none }
</style>

<script>
  function deleteProxy(id) {
    window.fetch(`/developer/api/proxy-responses/${id}`, {
      method: 'DELETE',
      headers: { 'Content-Type': 'application/json' }
    }).then(resp => { if (!resp.ok) throw('delete error'); })
      .then(json => window.location.hash = '#proxy-responses')
      .then(json => window.location.reload())
      .catch(error => alert(error));
  }
</script>

<div class="proxy-responses">
  The following pattern-matcing requests are intercepted and served by Mock Responses.
  <div id="mock-responses-data">
    <a href="#proxy-new">
      <mce-button class="mce-dark">
        <mce-icon class="fa fa-plus"></mce-icon>
        Create New Proxy Response
      </mce-button>
    </a>
    <table class="data">
      <tr>
        <th>Id</th>
        <th>Active</th>
        <th>Context</th>
        <th>Options</th>
        <th>Options</th>
      </tr>
    <% data.forEach(el => { %>
      <tr>
        <td><%= el.id %></td>
        <td><%= el.active ? 'Yes':'no' %></td>
        <td><pre><%= el.context%></pre></td>
        <td><pre><%= JSON.stringify(JSON.parse(el.options), null, '  ')%></pre></td>
        <td>
          <a href="#proxy-responses" onclick="deleteProxy(<%= el.id %>)">
            <mce-icon class="mce-small mce-circle"><i class="fa fa-trash"></i></mce-icon>
          </a>
          <a href="#proxy-edit-<%=el.id%>">
            <mce-icon class="mce-small mce-circle"><i class="fa fa-info"></i></mce-icon>
          </a>
        </td>
      </tr>
    <% }); %>
    </table>
  </div>
</div>


