.main {
  display: flex;
  .use-cases, 
  .mock-responses {
    border: 1px solid #ccc;
    padding: 12px;  
    border-radius: 4px;
    flex: 1;
  }
  
  .use-cases {
    .active-use-cases {
      display: flex;
      flex-wrap: wrap;
      .active-use-case {
        position: relative;
        flex: 1 45%;
        padding: 12px 20px; 
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 4px 4px 4px #ccc;
        margin: 4px;
        .delete {
          position: absolute;
          top: 4px;
          right: 8px;
        }
      }
    }
  }
}