.tabs {
  display: flex;
  > * {
    font-size: 18px;
    border: 1px solid #CCC;
    padding: 12px;
    border-radius: 4px;
  }
  > *.active {
    font-weight: bold;
  }
}

.add {
  cursor: pointer;
  border-radius: 50%;
  background: #2188e5;
  color: #FFF;
  font-size: 16px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0px 0px 0px 4px;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, .3);
  }
  .contents {
    background: #FFF;
    z-index: 1;
    width: 80%;
    max-height: 95%;
    overflow: auto;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 0 24px #333;
    ::ng-deep .mock-responses,
    ::ng-deep .use-cases {
      // max-height: 300px;
      display: block;
      margin: 12px 0;
      // overflow: auto;
    }
  }
}
.main {
  min-height: 400px;
  border: 1px solid #CCC;
  padding: 12px;
  border-radius: 4px;
  .add-available {
    position: relative;
  }

  .active-item {
    position: relative;
    display: inline-block;
    padding: 12px 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
    vertical-align: top;
    .delete {
      position: absolute;
      top: 4px;
      right: 8px;
    }
  }

  // .currently-actives {
  //   border: 1px solid #ccc;
  //   padding: 24px;  
  //   border-radius: 4px;
  //   flex: 1;
  //   // max-width: 50%;
  //   word-break: break-word;
    .active-use-cases {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .active-mock-responses {
      list-style-type: none;
      margin: 0;
      padding: 0; 
      .method {
        display: inline-block;
        width: 60px;
      }
    }
  // }

  .available-section {
    padding: 12px;  
    flex: 1;
    // max-width: 50%;
    word-break: break-word;
    .available-mock-responses {
      list-style-type: none;
      margin: 0;
      padding: 0;
      .flex.row {
        display: flex;
        padding-bottom: 8px;
        .play {
          color: #1F88E5;
          cursor: pointer;
        }
        .method {
          min-width: 80px;
        }
        .req-resp {
          cursor: pointer;
        }
      }
    }
  }

}
