<div class="main">
  <div class="use-cases">
    <h3>Currently Active Use Cases</h3>

    <ul *ngIf="activeUseCases" class="active-use-cases">
      <li class="active-use-case"
        *ngFor="let el of activeUseCases"
        (click)="openUseCaseDialog(el)">
        <div><b>({{el.id}}) {{el.name}}</b></div>
        <div>{{el.description}}</div>
        <button class="no-style delete" (click)="deactivateUseCase(el); $event.stopPropagation()">x</button>
      </li>
      <li class="use-case add-use-case" [ngClass]="{expanded: showUseCaseSearch}">
        <span (click)="openUseCasesSearch()">Add</span>
        <span *ngIf="showUseCaseSearch">
          <input class="use-case-search" size="40" 
            (keyup)="openUseCasesSearch({key: $event.target.value})"
            placeholder="Type to search use-cases" />
          <span *ngIf="showUseCaseSearch" (click)="showUseCaseSearch=false">close</span>
          <app-use-cases-list 
            [useCases]="searchUseCases"
            [collectionMode]="true"
            (selectClicked)="activateUseCase($event); showUseCaseSearch=false;">
          </app-use-cases-list>
        </span>
      </li>
    </ul>
  </div>

  <div class="mock-responses">
    <h3>
      Currently Active Mock Responses
    </h3>
    <div class="search-section">
      <input class="mock-response-search" size="40" 
        (keyup)="setMockResponses({key: $event.target.value})"
        placeholder="Type to search mock responses" />
    </div>

    <ul *ngFor="let el of objectEntries(mockResponses);">
      <li *ngIf="el[0]; let url">
        <div *ngFor="let el of objectEntries(mockResponses[url]);">
          <div *ngIf="el[0]; let method">
            <b>{{method}}</b><b *ngIf="!method">&nbsp; &nbsp;</b> &nbsp;
            <b>{{url}}</b> &nbsp;
            <span *ngIf="el[1]; let mockResp" title="{{mockResp.id}}">
              <span title="name">{{mockResp.name}}</span> &nbsp;
              <span title="status code">{{mockResp.res_status}}</span> &nbsp;
              <span title="content type">{{mockResp.res_content_type}}</span>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>