<div class="header-section">
  <h2 class="header"> Click A Use Case To Activate</h2>
  <div class="search">
    <input class="search-input" placeholder="Search Use Case" 
      (keyup)="filter({key: $event.target.value})" />
  </div>
</div>

<div style="display: none">
activeUseCases: {{activeUseCases | json}}
</div>

<div class="main">
  <ul class="use-cases">
    <li class="use-case"
      *ngFor="let el of filteredUseCases"
      title="{{el.id}}"
      (click)="activateUseCase(el)"
      [ngClass]="{active: isActive(el)}"> 
      <b class="id" (click)="filter({group: el.id})">
        UC{{el.id}}
      </b>
      <span class="name-desc">
        <b class="name">{{el.name}}</b> &nbsp;
        <span class="description">{{el.description}}</span>
        <span *ngIf="isActive(el)"> &nbsp;(Active)</span>
      </span>
    </li>
  </ul>
</div>

<div class="note">
  NOTE: If you can't find a use case to activate, please ask OneView engineers. 
</div>