.header-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .reset { 
    cursor: pointer;
  }
}
.use-cases {
  list-style: none;
  padding: 0;
  .use-case {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    .id {
      display: inline-block;
      width: 100px;
      cursor: pointer;
    }
    &.active {
      background: #1F88E5;
      color: #FFF;
      a {
        color: #FFF;
      }
    }
    .name-desc {
      cursor: pointer;
      .description {
        white-space: pre-wrap;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

.note {
  color: #999;
}