<div class="main">
  <div class="contents">
    <div class="top-header">
      <div class="left">
        <a [routerLink]="['/mock-responses']">Mock Responses</a> |
        <a [routerLink]="['/use-cases']">Use Cases</a>
        <input class="passcode public" 
          title="Enter passcode here to enable edit mode"
          (keypress)="authorizedChanged($event)"/>
      </div>
      <div class="right">
        <a href="https://github.com/allenhwkim/mock-responses"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="main-route">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>