.main { min-height: 100%; } 
.main > * { height: 100%; }
.main .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #1F88E5;
  color: #FFF;
  padding: 12px 12px 12px 40px;
}
.main .top-header a {
  color: #FFF;
}
.main .main-route {
  padding: 24px;
}

.icon {
  color: #2188E5;
  padding: 0;
  border: none;
  background: none;
}

.mode {
  cursor: pointer;
}

/* for list only item, hide .for-edit / .for-dialog items */
.for-list {display: none;} /* this is only for list and availible under .list */
.list .for-list { display: initial; }
.list .for-edit { display: none;}
.list .for-dialog { display: none;}
.list .fa-search.for-list { cursor: pointer; }

/* for dialog only item, hide .for-edit / .for-list items */
.for-dialog {display: none;}
.dialog .for-dialog { display: initial; }
.dialog .for-edit {display: none; }
.dialog .for-edit.for-dialog {display: initial; }
.dialog .for-list {display: none; }
.dialog .for-list.for-dialog {display: initial; }
.dialog .close { background: transparent; cursor: pointer;}

/* for edit only item, hide when not authoriazed */
.for-edit {display: initial;}
.main:not(.authorized) .for-edit { display: none; } /* hide any editable one for non-authorized users */
.main:not(.authorized) input.for-edit { display: initial; border: #FFF; pointer-events: none;}
.main:not(.authorized) textarea.for-edit { display: initial; border: #FFF; pointer-events: none;}

.for-not-authorized {display: none;}
.main:not(.authorized) .for-not-authorized { display: initial;}
