<div class="main">
  <div class="contents">
    <div class="top-header" *ngIf="showHeader">
      <div class="left">
        <a [routerLink]="['/home']">Home</a> 
        &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp;
        <a [routerLink]="['/mock-responses']">All Mock Responses</a>
        &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp;
        <a [routerLink]="['/use-cases']">All  Use Cases</a>
      </div>
      <span class="mode" *ngIf="this.authorized()" (click)="setEditMode(false)">
        <i title="Change to read-only mode" class="fas fa-eye"></i>
      </span>
      <span class="mode" *ngIf="!this.authorized()" (click)="setEditMode(true)">
        <i title="Change to read/write mode" class="fas fa-edit"></i>
      </span>
      <div>
        <a href="https://github.com/allenhwkim/mock-responses">
          <i title="read-only mode" class="fab fa-github"></i>
        </a>
      </div>
    </div>
    <div class="main-route">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>