.use-cases  {
  .use-case {
     white-space: initial;
    .id {
      white-space: nowrap;
    }
    .use-cases {
      width: 30%;
      vertical-align: top;
      .use-case {
        white-space: initial;
        text-align: left;
      }
    }

    .mock-responses {
      white-space: initial;
      width: 30%;
      .mock-response {
        white-space: initial;
        text-align: left;
      }
    }
  }
}

