<table class="use-cases">
  <thead>
    <tr>
      <th class="id">Id</th>
      <th class="name-desc">Name/Description</th>
      <th class="children">Use Cases/Mock Responses</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tr *ngFor="let useCase of useCases" class="use-case">
    <td class="id">
      <div>{{useCase.id}}</div>
    </td>
    <td class="name-desc">
      <b>{{useCase.name}}</b>
      <p>{{useCase.description}}</p> 
    </td>
    <td class="children">
      <ul><b>Use Cases</b>
        <li *ngFor="let uc of useCase.useCases"><b>{{uc.id}} - {{uc.name}}</b></li>
      </ul>
      <ul><b>Mock Responses</b>
        <li *ngFor="let mr of useCase.mockResponses"> 
          {{mr.id}}
          | {{mr.req_url}} 
          | {{mr.name}} 
          | {{mr.res_status}}
          | {{mr.res_content_type}}
        </li>
      </ul>
    </td>
    <td class="actions">
      <a class="button" *ngIf="auth.authorized && !collectionMode && !listMode" 
        [routerLink]="['/use-cases', useCase.id, 'edit']">
        Edit
      </a>
      <a class="button" *ngIf="!auth.authorized && !collectionMode && !listMode"
        [routerLink]="['/use-cases', useCase.id, 'edit']">
        Browse
      </a>
      <div *ngIf="activateMode && useCase.id === activeUseCase">
        Active
      </div>
      <div *ngIf="activateMode && useCase.id !== activeUseCase">
        <button (click)="selectClicked.emit(useCase)">
          Activate
        </button>
      </div>
      <button *ngIf="collectionMode" (click)="selectClicked.emit(useCase)">
        Select
      </button>
      <a *ngIf="listMode" class="button icon delete"
        (click)="deleteClicked.emit(useCase)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </a>
    </td>
  </tr>
</table>