.use-cases  {
  .id {
    width: 20%; 
    overflow: hidden;
    .contents {
      display: flex;
      justify-content: space-between;
    }
  }
  .name-desc {
    width: 30%; 
    overflow: hidden;
  }
  .children {
    width: 50%; 
    overflow: hidden;
  }

  .child-use-case {
    display: inline-block;
    background: #FFF;
    padding: 12px 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
  }
}