.use-cases  {
  .id {
    width: 20%; 
    overflow: hidden;
    .contents {
      display: flex;
      justify-content: space-between;
    }
  }
  .name-desc {
    width: 30%; 
    overflow: hidden;
  }
  .children {
    width: 50%; 
    overflow: hidden;
  }

  .child-use-case {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 4px;
    display: inline-block;
    padding: 4px;
    background-color: #FFF;
  }
}