<h3 *ngIf="mockResponse.id"> Update Mock Response </h3>
<h3 *ngIf="!mockResponse.id"> Create Mock Response </h3>

<div class="mock-response form">
  <div class="id column" *ngIf="mockResponse.id">
    <label for="id">Id</label>
    <input *ngIf="auth.authorized" id="id" readonly [(ngModel)]="mockResponse.id" />
    <span *ngIf="!auth.authorized">{{mockResponse.id}}</span>
  </div>

  <div class="name column">
    <label for="name">Name</label>
    <input *ngIf="auth.authorized" id="name" required [(ngModel)]="mockResponse.name" />
    <span *ngIf="!auth.authorized">{{mockResponse.name}}</span>
  </div>

  <fieldset class="request-group">
    <legend> Request </legend>

    <div class="req_method column">
      <label for="req_method">Method</label>
      <input *ngIf="auth.authorized" id="req_method" 
        pattern="(GET|POST|DELETE|PUT|OPTIONS)"
        [(ngModel)]="mockResponse.req_method" />
      <span *ngIf="!auth.authorized">{{mockResponse.req_method}}</span>
    </div>

    <div class="req_url column">
      <label for="req_url">Url</label>
      <input *ngIf="auth.authorized" id="req_url" required [(ngModel)]="mockResponse.req_url" />
      <span *ngIf="!auth.authorized">{{mockResponse.req_url}}</span>
    </div>

    <div class="req_url column">
      <label for="req_payload">Payload</label>
      <input *ngIf="auth.authorized"
        id="req_payload" pattern="(\S+,\s?)*\S+"
        [(ngModel)]="mockResponse.req_payload" />
      <span *ngIf="!auth.authorized">{{mockResponse.req_payload}}</span>
    </div>
  </fieldset>

  <fieldset class="response-group">
    <legend> Response </legend>

    <div class="res_status column">
      <label for="res_status">Status Code</label>
      <input *ngIf="auth.authorized" id="res_status" pattern="\d{3}"
        [(ngModel)]="mockResponse.res_status" />
      <span *ngIf="!auth.authorized">{{mockResponse.res_status}}</span>
    </div>

    <div class="res_delay_sec column">
      <label for="res_delay_sec">Delay Time</label>
      <input *ngIf="auth.authorized" id="res_delay_sec" pattern="\d{1}"
        [(ngModel)]="mockResponse.res_delay_sec" />
      <span *ngIf="!auth.authorized">{{mockResponse.res_status}}</span>
    </div>

    <div class="res_content_type column">
      <label for="res_content_type">Content Type</label>
      <input *ngIf="auth.authorized"
        id="res_content_type" pattern="\S+\/\S+"
        [(ngModel)]="mockResponse.res_content_type" />
      <span *ngIf="!auth.authorized">{{mockResponse.res_content_type}}</span>
    </div>

    <div class="res_body column">
      <label for="res_body">
        Body <br/>
        <a class="beautify-button" (click)="beautifyJSON()"><sub>Beautify JSON</sub></a>
      </label>
      <textarea *ngIf="auth.authorized"
        #resBody
        id="res_body" required 
        (keypress)="autoGrow()"
        [(ngModel)]="mockResponse.res_body"></textarea>
    </div>
  </fieldset>

  <div *ngIf="auth.authorized" class="buttons">
    <button *ngIf="mockResponse.id" [disabled]="!updatable" (click)="updateMockResponse()">
      <fa-icon [icon]="faEdit"></fa-icon>
      Update Mock Response 
    </button>
    <button *ngIf="mockResponse.id" class="button"
      [routerLink]="[ '/mock-responses/new']"
      [queryParams]="{from: mockResponse.id}">
      Duplicate Mock Response
    </button>
    <button *ngIf="mockResponse.id" 
      (click)="deleteMockResponse()">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
      Delete Mock Resoponse
    </button>
    <button *ngIf="!mockResponse.id" [disabled]="!creatable"
      (click)="createMockResponse()">
      <fa-icon [icon]="faPlusCircle"></fa-icon>
      Create Mock Response 
    </button>
  </div>
</div> 
