
  <h3 *ngIf="useCase.id"> Update Use Case </h3>
  <h3 *ngIf="!useCase.id"> Create Use Case </h3>
  
  <div class="use-case form">
    <div class="id column" *ngIf="useCase.id">
      <label for="id">Id *</label>
      <input id="id" [readonly]="!auth.authorized" [(ngModel)]="useCase.id" />
    </div>
  
    <div class="name column">
      <label for="name">Name *</label>
      <input *ngIf="auth.authorized" id="name" size="40" [(ngModel)]="useCase.name" />
      <span *ngIf="!auth.authorized">{{useCase.name}}</span>
    </div>
  
    <div class="description column">
      <label for="description">Description *</label>
      <textarea id="description"
        placeholder="Example:
        As an wireless account holder,
        Given an error condition with device upgrade,
        When I click an hardware upgrade from overview page,
        Then I see an error message and I must not be able to click it again."
        [readonly]="!auth.authorized"
        size="80" [(ngModel)]="useCase.description">{{useCase.description}}</textarea>
    </div>
  
    <h4 class="list">Use Cases</h4>

    <ul class="use-cases">
      <li class="use-case" *ngFor="let useCase of useCases"
        (click)="openUseCaseDialog(useCase)">
        <span>({{useCase.id}})</span> 
        <span>{{useCase.name}}</span>
        <div>{{useCase.description}}</div>
        <a *ngIf="auth.authorized" class="button icon delete"
          (click)="setUseCases('remove', useCase.id); $event.stopPropagation();">
          <i class="fas fa-trash-alt"></i>
        </a>
      </li>
      <li class="use-case add-use-case" [ngClass]="{expanded: useCaseSearchVisible}">
        <x-button (click)="openUseCasesSearch()">Add</x-button>
        <div class="dialog" *ngIf="useCaseSearchVisible">
          <div class="blocker" (click)="useCaseSearchVisible=false"></div>
          <div class="contents">
            <x-input class="use-case-search" size="40" 
              (keyup)="openUseCasesSearch({key: $event.target.value})"
              label="Type to search use-cases"></x-input>
            <app-use-cases-list 
              [useCases]="searchUseCases"
              [collectionMode]="true"
              (selectClicked)="setUseCases('add', $event.id); useCaseSearchVisible=false;">
            </app-use-cases-list>
          </div>
        </div>
      </li>
    </ul>

    <h4> Mock Responses </h4>

    <ul class="mock-responses">
      <li class="mock-response" *ngFor="let mockResp of mockResponses"
        (click)="openMockResponseDialog(mockResp)" title="{{mockResp.id}}">
        <b>{{mockResp.req_method}}</b><b *ngIf="!mockResp.method">&nbsp; &nbsp;</b> &nbsp;
        <b>{{mockResp.req_url}}</b> &nbsp;
        <span title="name">{{mockResp.name}}</span> &nbsp;
        <span title="status code">{{mockResp.res_status}}</span> &nbsp;
        <span title="content type">{{mockResp.res_content_type}}</span>
        <a *ngIf="auth.authorized" class="button icon delete"
          (click)="setMockResponses('remove', mockResp.id); $event.stopPropagation();"> 
          <i class="fas fa-trash-alt" title="delete"></i>
        </a>
      </li>
      <li class="mock-response add-mock-response" [ngClass]="{expanded: mockResponseSearchVisible}">
        <x-button (click)="showMockResponsesSearch()">Add</x-button>
        <div class="dialog" *ngIf="mockResponseSearchVisible">
          <div class="blocker" (click)="mockResponseSearchVisible=false"></div>
          <div class="contents">
            <input class="mock-response-search" size="40" 
              (keyup)="showMockResponsesSearch({key: $event.target.value})"
              placeholder="Type to search mock response" />
            <app-mock-responses-list 
              [mockResponses]="searchMockResponses"
              [collectionMode]="true"
              (selectClicked)="setMockResponses('add', $event.id); mockResponseSearchVisible=false;">
            </app-mock-responses-list >
          </div>
        </div>
      </li>
    </ul>

    <br/>
    <div class="buttons for-edit">
      <x-button *ngIf="auth.authorized && mode === 'edit'"
        [disabled]="!updatable"
        (click)="updateUseCase()">
        <i class="fas fa-edit"></i> Update
      </x-button>
      &nbsp;
      <x-button *ngIf="auth.authorized && mode === 'edit'"
        [routerLink]="['/use-cases/new']"
        [queryParams]="{from: useCase.id}">
        Duplicate
      </x-button>
      &nbsp;
      <x-button *ngIf="auth.authorized && mode === 'edit'" (click)="deleteUseCase()">
        <i class="fas fa-trash-alt"></i> Delete 
      </x-button>
      &nbsp;
      <x-button *ngIf="auth.authorized && mode === 'new'"
        [disabled]="!creatable"
        (click)="createUseCase()">
        <i class="fas fa-plus-circle"></i> Create 
      </x-button>
    </div>
  </div>
  
  