.use-case.form .column  {
  padding: 4px 0; 
  label {
    display: inline-block;
    width: 100px;
    vertical-align: top;
  }
  #description {
    width: 800px;
    height: 160px;
  }
  #description:read-only {
    background: #FFF;
    border: 0;
    outline: none;
  }
}

.use-cases,
.mock-responses {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .use-case, 
  .mock-response {
    padding: 12px;
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
    vertical-align: top;
    &.add-use-case:not(.expanded),
    &.add-mock-response:not(.expanded) {
      border: none;
      cursor: pointer;
    }
  }
  .add-use-case,
  .add-mock-response {
    position: relative;
    padding: 0;
    display: inline-block;
    width: 800px;
    border: none;
  }
}