
  <h3 *ngIf="useCase.id"> Update Use Case </h3>
  <h3 *ngIf="!useCase.id"> Create Use Case </h3>
  
  <div class="use-case form">
    <div class="id column" *ngIf="useCase.id">
      <label for="id">Id</label>
      <input id="id" readonly [(ngModel)]="useCase.id" />
    </div>
  
    <div class="name column">
      <label for="name">Name *</label>
      <input id="name" size="40" [(ngModel)]="useCase.name" />
    </div>
  
    <div class="description column">
      <label for="description">Description *</label>
      <input id="description" size="80" [(ngModel)]="useCase.description" />
    </div>
  
    <h4 class="list">
      Use Cases
      <fa-icon [icon]="faSearch" (click)="openUseCasesDialog()"></fa-icon>
      <fa-icon [icon]="faBan" (click)="useCases=[]"></fa-icon>
    </h4>

    <app-use-cases-list 
      [useCases]="useCases"
      [listMode]="true"
      (deleteClicked)="setUseCases('remove', $event.id)">
    </app-use-cases-list>
  
    <h4>
      Mock Responses
      <fa-icon [icon]="faSearch" (click)="openMockResponsesDialog()"></fa-icon>
      <fa-icon [icon]="faBan" (click)="mockResponses=[]"></fa-icon>
    </h4>

    <app-mock-responses-list
      [mockResponses]="mockResponses"
      [listMode]="true"
      (playClicked)="mockResponseService.play($event)"
      (deleteClicked)="setMockResponses('remove', $event.id)">
    </app-mock-responses-list>
  
    <br/>
    <div class="buttons for-edit">
      <button *ngIf="useCase.id" (click)="updateUseCase()">
        <fa-icon [icon]="faEdit"></fa-icon> Update
      </button>
      <a class="button" *ngIf="useCase.id"
        [routerLink]="['/use-cases/new']"
        [queryParams]="{from: useCase.id}">
        Duplicate
      </a>
      <button *ngIf="useCase.id" (click)="deleteUseCase()">
        <fa-icon [icon]="faTrashAlt"></fa-icon> Delete 
      </button>
      <button *ngIf="!useCase.id" (click)="createUseCase()">
        <fa-icon [icon]="faPlusCircle"></fa-icon> Create 
      </button>
    </div>
  </div>
  
  